$lab: #1217f7;
$brute: #ff3f3a;
$fuse: #793efe;
$step: #e0fb4a;
$freak: #ff993b;
$base: #00FFF0;
$active: #00b1a9;
$blue: #068DD0;
$gray: #F1F1F1;
$gray-light: #F8F8F8;
$gray-highlight: #D7D7D7;
$gray-dark: #646464;
$white: #fff;
$black: #000;
