@font-face {
  font-family: supply-bold;
  src: url($supply-bold) format('woff2')
}

@font-face {
  font-family: supply-medium;
  src: url($supply-medium) format('woff2')
}

@font-face {
  font-family: supply-regular;
  src: url($supply-regular) format('woff2')
}

@font-face {
 font-family: supply-light;
  src: url($supply-light) format('woff2')
}

