@font-face {
  font-family: supply-bold;
  src: url($supply-bold) 
}

@font-face {
  font-family: supply-medium;
  src: url($supply-medium) 
}

@font-face {
  font-family: supply-regular;
  src: url($supply-regular) 
}

@font-face {
 font-family: supply-light;
  src: url($supply-light) 
}

var(--font-up-4-rem) {
  font-size: 1.6rem
}  

