@import "variables/fonts";
@import "variables/colors";

.d-header {
   height: 72px;
   box-shadow: inherit;
  .wrap {
    max-width: 100%;
    padding: 0 20px
  }  
  .title {
    .custom-header-links {
       position: absolute;
       display: none;
       @media screen and (min-width: 798px) {
          display: flex;
          left: 30%;
       }  
       @media screen and (min-width: 1240px) {
          position: absolute;
          left: 36%;
       }    
       a {
         position: relative;
         font-family: supply-regular;
         font-size: 14px;
         &:before { 
           content: "_";
         }  
        } 
     } 
     .headerLink:hover a {
        color: #00FFF0;
    }   
   .search-header {
      width: 300px
   }
  } 
  
 .search-icon {
   display: none
  }
 .support-custom-header-links {
    margin-right: 80px
  }
  .hamburger-dropdown {
    padding-left: 10px;
    padding-right: 10px
  }
  .d-header-icons .unread-high-priority-notifications {
  right: 20px;
  }
}

.header-search-enabled.align-right .contents  {
    .search-input {
      border-radius: 5px;
    }
    .search-header {
      margin: 18px 0 0 10px;
    }
  }   

.search-menu .search-input input#search-term:focus {
   border-color: $base
}   

