@import "variables/fonts";
@import "variables/colors";

.d-header {
   height: 72px;
   box-shadow: inherit;
  .wrap {
    max-width: 100%;
    padding: 0 20px
  }  

  .title {
    .custom-header-links {
       position: absolute;
       display: none;
       @media screen and (min-width: 798px) {
          display: flex;
          left: 30%;
       }  
       @media screen and (min-width: 1240px) {
          position: absolute;
          left: 36%;
       }    
       a {
         position: relative;
         font-family: supply-regular;
         font-size: 14px;
         &:before { 
           content: "_";
         }  
        } 
     } 
     .headerLink:hover a {
        color: $base-dark;
    }   
   .search-header {
      width: 300px;
      #search-term {
         background-color: var(--tertiary-or-white);
      }
    }  
  } 
  
 .search-icon {
   display: none
  }
 .support-custom-header-links {
    margin-right: 80px
  }
  .hamburger-dropdown {
    padding-left: 10px;
    padding-right: 10px
  }
  .d-header-icons .unread-high-priority-notifications {
  right: 20px;
  }
}

.header-search-enabled.align-right .contents  {
    .search-input {
      border-radius: 5px;
    }
    .search-header {
      margin: 18px 10px 0 10px;
    }
  }   

.search-menu .search-input:focus-within {
   border-color: $base;
   outline-color: $base;
}   

.menu-panel {
   background-color: var(--header_background)
}

.title .search-header .results li:not(.category):not(.heading):hover a:not(.badge-notification) {
  background-color: var(--highlight-medium);
}

.search-menu .searching a.show-advanced-search .d-icon, 
.search-menu .searching a.clear-search .d-icon {
  color: var(--header_primary-low-mid);
}

.unread-high-priority-notifications {
  background: $base;
  &.badge-notification[href] {
      color: $black;
  }    
}

a[title="Arturia community"] {
   color : $base-dark
}

.categories-separator {
   border-top: 1px solid var(--tertiary-low-or-tertiary-high);
}
   

