@import "variables/fonts";
@import "variables/colors";


.navigation-container {
  .list-controls .combo-box .combo-box-header,
  .select-kit {
      &.combo-box .select-kit-header {
        border: none;
      } 
      &.single-select.is-expanded .select-kit-header:not(.btn) {
        outline: none;
      }
   }  
   .select-kit-header {
      .select-kit-selected-name {
     	.name {
	  font-family: supply-regular;
	  color: var(--primary);
	  transition: all 0.15s;
	  &::after {
	    border-style: solid;
	    border-width: 0.15em 0.15em 0 0;
	    content: '';
	    display: inline-block;
	    height: 0.41em;
	    left: 0;
	    position: relative;
	    top: 0.5em;
	    transform: rotate(45deg);
	    vertical-align: top;
	    width: 0.41em;
	    transition: all 0.25s;
	  }
        }
	.category-name {
	  font-family: supply-regular;
	  color: var(--primary);
	  transition: all 0.15s;     
	}	
	&:hover .name,
	&:hover .category-name {
	    color: $base;
	}	
      } 
     .caret-icon {
	  display: none;
     } 
   }
   .select-kit.single-select.is-expanded .selected-name .name::after  {
	transform: rotate(135deg);
    }
}

