@import "variables/fonts";
@import "variables/colors";

.list-controls .combo-box .combo-box-header {
     background-color: var(--secondary-or-primary)
}
.list-controls .select-kit .select-kit-collection,	
.select-kit.single-select .select-kit-filter.is-expanded {
    background-color: var(--primary-50)
}		

#navigation-bar {
   margin-left: auto;
   margin-right: 0;
   li a {
	font-size: 16px
   }	
}

.navigation-container { 
 .nav-item_votes,
 .nav-item_my_votes {
     display: none;
 }	 

  .list-controls .combo-box .combo-box-header,
  .select-kit {
      &.combo-box .select-kit-header {
        border: none;
      } 
      &.single-select.is-expanded .select-kit-header:not(.btn) {
        outline: none;
      }
   }  
   .select-kit-header {
      .select-kit-selected-name {
     	.name {
	  font-family: supply-regular;
	  color: var(--primary);
	  transition: all 0.15s;
	  &::after {
	    border-style: solid;
	    border-width: 0.15em 0.15em 0 0;
	    content: '';
	    display: inline-block;
	    height: 0.41em;
	    left: 0;
	    position: relative;
	    top: 0.5em;
	    transform: rotate(45deg);
	    vertical-align: top;
	    width: 0.41em;
	    transition: all 0.25s;
	  }
        }
        &[title="all categories"] {
	   .name:first-letter {
		text-transform: uppercase;   
	   }
        }      
	.category-name {
	  font-family: supply-regular;
	  color: var(--primary);
	  transition: all 0.15s;     
	}	
	&:hover .name,
	&:hover .category-name {
	    color: $base-dark;
	}	
      } 
     .caret-icon {
	  display: none;
     } 
   }
   .select-kit.single-select.is-expanded {
	   .selected-name .name::after  {
		transform: rotate(135deg);
	   }
	   .select-kit-body {
		border: 1px solid var(--primary-300);
	  }	
     } 
    .select-kit.single-select .select-kit-filter.is-expanded {
  	border-bottom: 1px solid var(--primary-300);
     }
}

