.navigation-container {
  .list-controls .combo-box .combo-box-header,
  .select-kit {
      &.combo-box .select-kit-header {
        border: none;
      } 
      &.single-select.is-expanded .select-kit-header:not(.btn) {
        outline: none;
      }
   }  
   .select-kit-header {
       text-decoration: underline;
       transition: 0.2s;
       &:hover {
         text-decoration: none;
       }  
       .selected-name .name {
          font-family: supply;
          .selected-name .name {
              font-family: supply;
              &::after ::first-letter {
                  text-transform: uppercase;
              }
          } 
       }   
    }
}
