@import "variables/colors";


.discourse-no-touch .btn:hover {
	background: var(--primary-medium)!important;
	color: var(--secondary)!important;
}	

summary {
    background: var(--header_background)!important;
    &.btn-icon {
	 background: var(--secondary)!important;  
    } 	    
}

.edit-category.btn {
	background: var(--secondary)!important;  
}

.nav-pills {
    background: var(--header_background)!important;
}

#create-topic {	
    color: $black; 
    background-color: $base;
    &.btn .d-icon {
	border: 1px solid white;
	border-radius: 50%;
	background-color: white;
	padding: 2px 2px 2px 1px;
  }
}

body:not([class*='category-']) #create-topic { 
    display: none; 
}
	
#navigation-bar {
    z-index: 1;
    margin: 10px 0 20px auto;
    font-family: supply-medium;
    background-color: var(--header_background);	
    > li a.active,
    > li > a:hover {
        text-decoration: underline;
        background-color: inherit;
        color: inherit;
    }
    .nav-item {
	&_votes,
	&_my_votes,
    	&_categories {
		display: none;    
	}	
    }
  }	
 
.list-controls .combo-box .combo-box-header {
	 border: none;
    } 

.category:not([class*="archetype-"]),
.categories-list,
.categories-list .category,	
.navigation-topics,
.tags-page {
   .select-kit.single-select.is-expanded .select-kit-header:not(.btn), 
   .select-kit.single-select .select-kit-header:not(.btn):focus, 
   .select-kit.single-select .select-kit-header:not(.btn):active {
	   outline: none;
    }	   
    .select-kit .select-kit-header { 
	 .selected-name:not([title="(select an option)"]):not([title="(no category)"]) .name {
		  font-family: supply-regular;
		  &::after {
			border-style: solid;
			border-width: 0.15em 0.15em 0 0;
			content: '';
			display: inline-block;
			height: 0.45em;
			left: 0;
			position: relative;
			top: 0.5em;
			transform: rotate(45deg);
			vertical-align: top;
			width: 0.45em;
		  }
		  &::first-letter {
		        text-transform: uppercase;
		  }
	   }
	   .caret-icon {
		  display:none;
	   } 
     }
     .select-kit.single-select.is-expanded .selected-name .name::after  {
	transform: rotate(135deg);
    }
}

.category-input .name {
	font-family: inherit!important;
}


/*** PAGE SECTION ***/
.category {	
   .category-breadcrumb li {
	&:first-child  {
	       .select-kit-row.category-row .badge-category-bg {
		    display: none!important;
	       } 
	} 		
    } 	   
   .select-kit.single-select {
	.badge-category-bg {
	    display: none;
	}
   }	   
   .select-kit-row.category-row {
	.badge-category-bg {
	    display: block;
            width: 5px;
            height: 12px;
         }
   }	   
}

/*** PAGE ACCUEIL ***/
.categories-list:not(.category) {
    .select-kit-row.category-row .badge-category-bg {
	display: none!important;
    }
   .category-breadcrumb {
	li .selected-name .name { 	
		font-family: supply-medium;
 	}
   }	   
}	

/*** TAGS ***/	
.discourse-tag.bullet::before {
   margin-right: 0;
   width: 0;
   height: 0;
}

/*** BOOKMARKS/FOLLOWED TOP ***/
.navigation-topics {	
   .category-breadcrumb li:first-child  {
       .select-kit-row.category-row .badge-category-bg {
            display: none!important;
       } 
    } 	
} 	

.select-kit-collection {
	background-color: var(--primary-50);	
}

.select-kit.is-expanded .select-kit-body {
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
}

.select-kit .select-kit-collection:hover .select-kit-row.is-highlighted:hover {
   background-color: var(--tertiary-medium);
   color: var(--header_background);
   span,
   div,
   li {
	color: var(--header_background);
   }	   
}

.select-kit .select-kit-row.is-highlighted {
   background-color: var(--tertiary-low);
}

.category:not([class*="archetype-"]),
.categories-list.category {
	.select-kit.combo-box.category-drop .select-kit-row[data-value="all-categories"] {
	    text-transform: uppercase;
	  }
	.select-kit.combo-box.category-drop .select-kit-row[data-value="no-categories"],
	.select-kit.combo-box.tag-drop .select-kit-row[data-value="no-tags"] {
		display: none;
	  }
  }	


.navigation-controls,
.category-breadcrumb {
  	z-index: 1;
}

.badge-wrapper.bullet span.badge-category {
  color: var(--primary);
}

.navigation-container {
	background-color: var(--header_background);	
	padding: 12px 20px 0 20px;
}	


.select-kit-selected-name[data-name="all categories"],
.select-kit-selected-name[data-name="all"],
.select-kit-selected-name[data-name="all tags"] {
	.name {
		text-transform: uppercase;
	}
}




