@import 'variables/colors';
  
.navigation-categories {
  .custom-search-banner-wrap {
    margin-top: 0;
    padding: 14em 0 9.2em;
  }
  .search-banner {
    background-position: 50% 20%;
  }
  input[type="text"] {
    color: $gray-dark;
    background-color: $white;
  }
  .btn .d-icon {
    color: $gray-dark;
  }
}
.category,
.navigation-topics {  
   #main-outlet {
     padding-top: 1.5em;
   }
}

@media (max-width: 1180px) {
  .navigation-container {
    background: var(--header_background);
    padding: 10px 10px 0px 10px;
  }
 }

@media (min-width: 1180px) {
    .navigation-categories .search-banner:after {
          content: '';
          background-color: var(--header_background);
          height: 90px;
          width: 100%;
          top: 436px;
          position: absolute;
    }   
   .category .search-banner:after,
   .navigation-topics .search-banner:after,
   .tags-page .search-banner:after {
      content: '';
          background-color: var(--header_background);
          height: 90px;
          width: 100%;
          position: absolute
    } 
}
 
.global-notice,
.create-topics-notice, {
  display: none;
}

.search-menu .search-input {
  border: none;
}  
 
