@import "variables/colors";


#main-outlet-wrapper {
  padding-left: 5px!important;
  padding-right: 5px!important
}

.category-list-item {
  padding: 0;
  border: none!important
}
body:not(.categories-list.navigation-categories) {
  #main-outlet {
    background: var(--tertiary-or-white);
    padding: 25px 10px!important;
    margin: 25px 0px!important;
  }
}

.reviewable,
.badges-page .badges {
  padding: 0;
  margin-top: 0
} 

body[class*="body-"]:not(.category):not(.tags-page) #list-area {
  padding-top: 20px;
}


// NAVIGATION HEADER
#navigation-bar .navigation-toggle {
  border: none;
  .toggle-link {
    color: $white;
    background-color: var(--quaternary)
  }
}  


// HOME PAGE
body.categories-list.navigation-categories {
  tbody tr {
    margin-bottom: 0;
    border-bottom: 1px solid var(--primary-low-mid);
    padding: 13px 5px;
  }
  .list-container {
    background-color: var(--secondary-or-primary);
    margin: 0
  }  
  .category-name {
    white-space: initial;
    text-overflow: initial;
  }
  .category-list-item.category tr:first-of-type {
    border-bottom: 1px solid var(--primary);
  }
  tbody tr td {
    width: 100%;
    padding: 6px 5px;
  }
}

.category-header div[class^="category-title-header"] {
    text-align: left;
    .category-title-contents {
      padding-left: 10px;
      padding-right: 10px;
    }
}

   

// CATEGORY PAGE
body.categories-list.category {
  .category-list-item {
    margin-top: 0
  }
  #header-list-area {
    margin-left: 15px;
    margin-right: 15px;
  }
  h3 {
    border-color: inherit;
    border-width: 10px;
  }
  #list-area {
    padding: 30px 5px 30px 5px;
  }
  .discovery-above-outlet {
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid var(--primary);
  }
}
.category-header-widget {
  margin-top: 0
}

// SUBCATEGORY
body.category:not(.categories-list) #list-area {
  padding-top: 15px;
}

.discovery-above-outlet {
  .category-title-name h1 {
    font-size: 1.8em
  } 
}  

.topic-list {
  .topic-list-data {
    padding: 12px 10px
  }   
  .topic-item-stats {
    width: 100%;
  }
}


/* .category-list-item h3 {
    border-color: inherit;
    border-width: 10px;

  .category-list-item > h3:first-child > a {
    border-color: inherit;
    border-width: 0;
    border-style: solid;
  }
  .category-list-item > h3:first-child > a::before {
    content: "";
    height: 16px;
    position: absolute;
    border-style: solid;
    border-color: inherit;
    top: 4px;
  }
*/

// TOPIC PAGE
.title-voting {
  padding-top: 20px;
  background-color: var(--tertiary-or-white);
}
[class*="archetype-"] {
  #topic-title {
    padding: 25px 10px 20px;
  }
  .posts:not(.posts-map) {
    padding: 0 10px
  }
  .topic-body {
    width: 100%
  }
  .topic-post article {
    border-top: none;
  }
  .suggested-topics-wrapper {
    padding: 0 0px 15px;
  }
  .suggested-topics-title {
    padding: 15px;
  }
  #topic-footer-buttons {
    padding: 30px 10px 50px;
   }
  aside.onebox {
    padding: 0.5em;
  }
}

// USER PAGE
body[class*="user-"] .user-main {
  background-color: var(--tertiary-or-white);
  padding: 30px 0px;
 .top-sub-section {
    width: 100%;
  }  
  .about {
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
    .secondary {
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }   
    .staff-counters {
      margin-bottom: 0;
      margin-left: -10px;
      margin-right: -10px;
    } 
  }
  .user-content-wrapper {
    padding-left: 10px;
    padding-right: 10px
  }
  .user-primary-navigation {
    padding-left: 0;
    padding-right: 0;
  }
}
.badge-card.large .badge-contents {
  padding-top: 20px;
}
.user-info.medium.badge-info {
  min-width: 100%;
}
.user-primary-navigation {
  padding-left: 0;
  padding-right: 0;
}

// FOOTER
.tuned {
   padding-top: 30px;
  .tuned-bg {
    margin: 0;
    max-width: 100%;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
 }  
  .help-txt {
    padding-left: 0;
    p {
      padding-right: 0;
    }
  }
}  
.list-container {
  padding: 0;
}

// REVIEW PAGE
.reviewable-settings .reviewable-score-type .title {
  width: 50%;
} 

// ADMIN

