@import "variables/colors";

// NAVIGATION HEADER
#navigation-bar .navigation-toggle {
  border: none;
  .toggle-link {
    color: $white;
    background-color: var(--quaternary)
  }
}  


// HOME PAGE
#main-outlet-wrapper {
  padding-left: 5px!important;
  padding-right: 5px!important
}

.categories-list.navigation-categories {
  tbody tr {
    margin-bottom: 0;
    border-bottom: 1px solid var(--primary-low-mid);
    padding: 13px 5px;
  }
  .list-container {
    background-color: var(--secondary-or-primary);
    margin: 0
  }  
}

.category-list-item {
  padding: 0;
  border: none!important
}


.category-list .category-name {
  white-space: initial;
  text-overflow: initial;
}

.category-list-item.category tr:first-of-type {
  border-bottom: 1px solid var(--primary);
}

.categories-list.navigation-categories tbody tr td {
  width: 100%;
  padding: 6px 5px;
}

// SUBCATEGORY PAGE
.discovery-above-outlet {
  boder-bottom: 1px solid var(--primary)
  .category-header div[class^="category-title-header"] {
    text-align: left;
  }
  .category-title-name h1 {
  font-size: 1.8em
  } 
}   
