body.about-page,
body.static-faq,
body.static-tos,
body.static-privacy {
  #main-outlet {
    padding: 25px 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: var(--tertiary-or-white)
  }
  a {
    transition: all 0.15s
  }
  a:hover {
    color: var(--tertiary-high)
  }
}  

.about-link,
.nav-item-about {
  display: none!important
}    
