.admin-interface {
  #main-outlet-wrapper {
    background-color: var(--header_background);
    margin-top: 20px;
  }
  .admin-contents  {
    background-color: var(--header_background);
  }
}  

.admin-controls {
  .nav-pills > li {
    > a, 
    button {
      transition: transform 5s ease-in-out;
    }  
    > a:hover, 
    button:hover {
      color: var(--primary);
      background-color: var(--highlight-medium);
    }
  }
 }

nav-pills > li {
    > a, 
    button {
      transition: transform 5s ease-in-out;
    }  
    > a:hover, 
    button:hover {
      color: var(--primary);
      background-color: var(--highlight-medium);
    }
  }

.nav-stacked a {
  transition: transform 5s ease-in-out;
  &:hover {
    background-color: var(--highlight-medium);
    color: var(--primary);
    &:after {
      border-left-color: var(--primary);
    }
   }
}  
