input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"] {
  background-color: var(--secondary-or-primary);
}

.group-box-inner,
.group-staff,
.user-content,
.group-details-container,
.select-kit.multi-select .multi-select-header {
  background-color: var(--tertiary-or-white)
}  

.group-staff {
  padding-right: 30px;
  padding-left: 30px
}  

.user-primary-navigation {
  background-color: var(--primary-low);
}  

.select-kit.combo-box .select-kit-header,
.select-kit.is-expanded .select-kit-collection {
  background-color: var(--tertiary-or-white)
}

.admin-interface {
  .user-fields .user-field {
    border-bottom: 1px solid var(--primary-low-mid)
  }  
  .admin-actions .btn {
    background: var(--primary-100)
  }  
  .version-checks .section-title,
  .dashboard .section .section-title, 
  .dashboard-next .section .section-title,
  .content-list ul li,
  .admin-badges .badges-header,
  .admin-customize .themes-list-container .themes-list-item {
      border-bottom: 1px solid var(--primary-low-mid);
  } 
  .counters-list .counters-header,
  .counters-list .admin-report .main,
  .dashboard .misc, .dashboard-next .misc,
  .admin-report-table .table,
  .admin-badges .content-list .admin-badge-list,
  .dashboard-reports .report,
  .admin-customize .themes-list-container {
      border: 1px solid var(--primary-low-mid);
  }
  .dashboard .misc .storage-stats, .dashboard-next .misc .storage-stats {
      border-right: 1px solid var(--primary-low-mid);
  }  
  .display-row,
  .admin-badges .badges-header {
    border-top: 1px solid var(--primary-low-mid);
  }  
  tbody {
    border-top: 3px solid var(--primary-low-mid);
  }
  #main-outlet-wrapper {
    background-color: var(--tertiary-or-white);
    margin-top: 20px;
  }
  .admin-contents,
  .admin-detail {
    background-color: var(--tertiary-or-white);
  }
}  

.nav-pills > li > a:hover, 
.nav-pills > li button:hover {
  color: var(--primary)!important;
  background-color: var(--highlight-medium)!important;
}

.nav-stacked a {
  &:hover {
    background-color: var(--highlight-medium);
    color: var(--primary)!important;
    &:after {
      border-left-color: var(--primary)!important;
    }
   }
}

.admin-report .main {
  .report-alert.no-data, 
  .report-alert.rate-limited {
      background: var(--primary-low);
   }
 }

div.edit-category {
  background-color: var(--tertiary-or-white);
  padding: 20px;
  .edit-category-title-bar {
    background-color: var(--tertiary-or-white);
  }  
  .edit-category-description,
  .category-back {
    background: var(--primary-300);
   }  
  .edit-category-nav .nav-stacked {
    background-color: var(--primary-200);
  }
  .select-kit.combo-box .select-kit-header, 
  .select-kit.is-expanded .select-kit-collection {
    background-color: var(--secondary-or-primary);
  }
}

.admin-controls,
.admin-controls .controls,
.admin-controls nav {
    background-color: var(--primary-100);   
}  
.admin-controls .btn-flat .d-icon {
    color: var(--primary);   
}  
   
