.admin-interface {
  #main-outlet-wrapper {
    background-color: var(--tertiary-or-white);
    margin-top: 20px;
  }
  .admin-contents  {
    background-color: var(--tertiary-or-white);
  }
}  

.nav-pills > li > a:hover, 
.nav-pills > li button:hover {
  color: var(--primary)!important;
  background-color: var(--highlight-medium)!important;
}

.nav-stacked a {
  &:hover {
    background-color: var(--highlight-medium);
    color: var(--primary)!important;
    &:after {
      border-left-color: var(--primary)!important;
    }
   }
}
