.badges-page .badges,
.body-badges #main-outlet {
     background-color: var(--tertiary-or-white);
     padding: 25px 50px;
     margin-top: 30px;
     margin-bottom: 30px;
}

.badge-card,
.badge-info {
    background-color: var(--primary-100);
     &:hover {
          background-color: var(--primary-low-mid);
     }
}
