.badges-page .badges,
.body-badges #main-outlet {
     background-color: var(--tertiary-or-white);
     padding: 25px 50px;
     margin-top: 30px;
     margin-bottom: 30px;
}

.badges-page .badge-card {
    background-color: var(--primary-100);
}

.badge-info.user-info {
     background-color: var(--primary-200);
     padding: 15px 10px 10px
}

.user-info .user-detail .name a, 
.user-info .user-detail .username a {
  color: var(--primary-high);
}

.badge-link {
     transition: all 0.15s;
     &:hover {
          color: var(--primary-700)!important;
     }     
}

.badges-granted .username a {
     transition: all 0.15s;
     &:hover {
          color: var(--primary-700)!important;
     }     
}
