.badges-page .badges,
.body-badges #main-outlet {
     background-color: var(--tertiary-or-white);
     padding: 25px 50px;
     margin-top: 30px;
     margin-bottom: 30px;
}

.badge-card {
    background-color: var(--primary-low);
    border: 1px solid var(--primary-low-mid);
}

.badge-info.user-info {
     background-color: var(--primary-very-low);
     padding: 15px 10px 10px
}

.user-info .user-detail {
     .name a, 
     .username a,
     .details a {
       color: var(--primary);
       transition: all 0.15s;
          &:hover {
               color: var(--primary-800)!important;
        }   
    }        
}

.badge-link {
     transition: all 0.15s;
     &:hover {
          color: var(--primary-700)!important;
     }     
}
