body[class*='category-'] {
  .category {
    border-left: none;
    padding-left: 0;
    position: relative;
    > h3:first-child  {
      border-color: inherit; 
      border-width: 0;
      border-style: solid;
      &::after {
        content: "";
        height: 15%;
        position: absolute;
        border-style: solid;
        border-color: inherit;
        top: 17px;
       }       
     }
   }
}

