@import "variables/colors";

.above-main-container-outlet {
  display: none;
}

.category-header-widget {
  z-index: -2;
  position: relative;
  margin-top: 25px;
  margin-bottom: 0;
  background-color: var(--header_background);
  padding: 50px 30px 0;
  .category-title-header {
    border-top: none!important;
    border-right: none!important;
    border-bottom: none!important;
    margin-bottom: 0!important;
    border-left-width: 10px!important;
  }
  .category-logo.aspect-image,
  .category-title-description {
    display: none;
  }  
  .category-title-contents {
    padding-top: 0!important;
    padding-bottom: 0!important;
    h1 {
      font-family: supply-regular;
      font-weight: 400;
    }   
  }  
  .category-title-name {
      overflow:hidden;
      &:after {
          content:'';
          display: inline-block;
          width: 100%; 
          height: 100%;
          margin-right: -100%;
          border-bottom: 1px solid var(--tertiary);
      }
   }    
  .parent-box-link {
    display: none;
  }  
}


@media (max-width:768px) {
   .category-header-widget {
       padding: 30px 0 20px 0;
   }
 }  
   
   
.categories-list,
.category {  
   .top-title,
   .followed-title {
       display: none!important;
   }
}  
  
.categories-list.navigation-categories {
  .category-header-widget {
    display: none;
   }
}

