@import "variables/colors";

/*.above-main-container-outlet {
  display: none;
}*/

.category-header-widget {
  z-index: -2;
  position: relative;
  margin-top: 25px;
  margin-bottom: 0;
  background-color: var(--header_background);
  padding: 50px 30px 20px 30px;
  .category-title-header {
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
  }
  .category-title-contents {
    padding: 0 20px !important;
    h1 {
      font-family: supply-regular;
    }  
    .category-title-description {
      color: var(--header_primary);
    }   
  }   
  .parent-box-link {
    display: none;
  }  
}


@media (max-width:768px) {
   .category-header-widget {
       padding: 30px 0 20px 0;
   }
 }

.categories-list {
  .category-header-widget {
    .category-title-name h1:before { 
       content: "_";
     }
     .category-title-header {
         border-left: none!important;
      }    
   }  
 }    
   
   
.categories-list,
.category {  
   .top-title,
   .followed-title {
       display: none!important;
   }
}  
  
.categories-list.navigation-categories {
  .category-header-widget {
    display: none;
   }
}

.category-header div[class^="category-title-header"] {
  border-left-width: 10px!important;
}

