body[class*='category-']:not(.navigation-categories) {
  .list-container {
    margin: 0
    background-color: none;  
   }
  row {
     background-color: var(--header_background);
  }  
  #header-list-area {
    margin-left: 20px;
    margin-right: 20px;
  }  
  thead {
    .category span {
       display: none;
    }   
  } 
  tbody {
    border-top: none
  }
  .category-list {
    .topics .value {
      font-weight: 200;
    }
    .category {
      border-left: none;
      padding-left: 0;
      position: relative;
      > h3:first-child  {
        border-color: inherit; 
        border-width: 0;
        border-style: solid;
        &::before {
          content: "";
          height: 18px;
          position: absolute;
          border-style: solid;
          border-color: inherit;
          top: 18px;
         }       
       }
      .category-name {
        padding-left: 14px;
        font-size: 1.5rem;
        font-weight: 400;
      }  
    }
  }
}

