.groups-new-page,
.groups-page,
.body-group {
  #main-outlet {
     background-color: var(--tertiary-or-white);
     padding: 30px 50px;
     margin-top: 30px;
     margin-bottom: 30px
  }
}

.groups-new-page {
  .user-preferences .bio-composer, 
  .group-form-bio {
    border: 1px solid var(--primary-medium);
  }
  .btn.select-kit-header {
    background: var(--primary-low-mid);
   }
}

.groups-page {
  .group-box-inner {
    background-color: var(--primary-100);
  }
  .groups-header-new {
    background-color: var(--primary-low-mid);
  }
 }

