.navigation-categories {
    .category-list:last-child {
       display: none;
    }  
    tbody {
        border-top : none;
        display: flex;
        flex-wrap: wrap;
        .category {
            flex: 1;
        }  
    }
  }
