.navigation-categories {
    tbody {
        border-top : none;
        tr {
             &:last-child {
                display: none;
             }
             td {
                  border-left: none
             }          
         }
    }
  }
