@import "variables/fonts";
@import "variables/colors";
  
.categories-list.navigation-categories {
  .latest-topic-list-item {
      border-bottom: 1px solid var(--primary-low-mid);
  } 
   .categories-and-latest, 
   .categories-and-top {
     background-color: var(--secondary-or-primary)
    }  
     #list-area {
       margin-bottom: 0;
       .show-more {
         position: initial;
         margin-bottom: 20px;
         transition: all 0.15s;
         &:hover .alert.alert-info {
           background-color: var(--highlight-medium);
         }
       }
       .contents {
         background-color: var(--secondary-or-primary)
       }
     }
     .list-container {
         background-color: var(--secondary);
         padding: 0;
         margin-left: 0;
         margin-right: 0
     } 
     .column:not(.categories) {
        background-color: var(--tertiary-or-white); 
        padding: 13px 23px;
        margin-bottom: 15px;
       .title {
         font-size: 16px
       }  
     }    
     .column.categories {
        margin-right: 1em; 
       .badge-wrapper {
         font-size: var(--font-0);
       }
       .category-list {
         height: 100%;
         display: flex
       }  
     }
     #create-topic,
     .topics,
     thead {
             display: none;
     }
     tbody {
         border-top: none;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         height: 100%;
         tr {
              display: block;
              background-color: var(--tertiary-or-white);
              margin-bottom: 15px;
              padding: 13px 23px;
              &:not(:first-child) {
                 margin-top: 0;
              }
              &:last-child {
                 display: none;
              }
              border-bottom : none;
              td {
                  border-left: none;
                  width: 665px;
              }          
          }
        .subcategory {
             padding: 4px 0;
             .category-name {
                  color: var(--primary-high);
                  transition: all 0.15s;
                  font-size: var(--base-font-size-larger);
                  &:hover {
                    color: var(--primary-medium);
                  }
               }
             }
         }   

     .category-text-title,
     .column .table-heading {
         overflow:hidden;
         &:after {
             content:'';
             display: inline-block;
             width: 100%; 
             height: 100%;
             margin-right: -100%;
             border-bottom: 1px solid var(--tertiary);
             transition: all 0.15s;
         }
         &:hover:after {
            border-bottom: 1px solid $base-dark;
         } 
       }  
       .column:not(.categories) .table-heading:hover::after {
           border-bottom: 1px solid var(--tertiary)!important;
       }
     h3 .category-name,
     .column .table-heading {
         color: var(--primary);
         font-family: supply-regular;
         font-size: $font-up-4-rem;
         padding-bottom: 5px;
         padding-right: 10px;
         font-weight: 400;
         transition: all 0.15s;  
     }
     .category-description {
         display: none
    }
    h3:hover { 
       a[href], 
       .category-name {
           color: $base-dark!important
        }
    }
   .topic-list-item.visited .topic-list-data a.title:not(.badge-notification), 
   .latest-topic-list-item.visited a.title:not(.badge-notification), 
   .category-topic-link.visited a.title:not(.badge-notification) {
       color: var(--primary);
     }
  }

.latest-topic-list {
    .table-heading {
        border-bottom: none
    }  
    .posts-map {
        font-weight: 200
    }
    .posts-map .number,
    .topic-last-activity span {
        font-size: 14px
    }
    .title {
     color: var(--primary-high)!important;
     transition: all 0.15s;
     &:hover {
       color: var(--primary-medium)!important;
     }
   }
   .category-name {
       transition: all 0.15s;
       &:hover {
         color: var(--primary-500)!important;
       }
    } 
} 

.badge-notification {
  display: inline-block!important;
  padding-right: 5px!important;
  &.new-posts {
    display: none!important;
  }
  &.unread-posts {
    background-color: $base-dark!important;
    color: $white!important;
    transition: all 0.3s;
    &:hover {
      background-color: $base!important;
      color: $black!important
    }
  }  
  &.new-topic::before {
    background: $base-dark!important;
    color: $white!important;
    transition: all 0.15s;  
  } 
  &.new-topic:hover::before {
      background-color: $base!important;
      color: $black!important;
    }  
}
.badge-wrapper.bullet .badge-category-bg {
      height: 10px;
  }

#banner {
  background-color: var(--highlight-medium);
  .floated-buttons > .btn {
    padding: 5px 8px;
    background-color: var(--primary-low-mid);
    &:hover {
        background: var(--primary-medium);
        color: var(--secondary);
      .d-icon {
        color: var(--secondary);
      }
    }
   }  
  a {
    color: #017e78;
    transition: all 0.2s;
    &:hover {
      color: var(--quaternary);
    } 
   }  
  .close {
    display: none
  }
 } 
