.avatar-choice:nth-child(2),
.d-modal.create-account .user-fields {
    display: none  
}   

.password-reset .col-form {
  padding: 0.5em 2em 2em;
  max-width: 100%;
  text-align: center;
}

.invites-show .col-form {
  max-width: 100%;
}

#simple-container {
    margin: 0 auto 20px;
    width: 600px;
    background-color: var(--tertiary-or-white);
    .account-created .ac-page {
        border-top: none;
        box-shadow: none
    }    
}

#activate-account-button:hover,
.login-button:hover,
.sign-up-button:hover {
    background-color: var(--primary-medium)
}

.invites-show  .login-welcome-header {
    background-color: var(--tertiary-or-white);
}

.modal-footer {
  padding: 14px 15px 25px;
}    


#forgot-password-link:hover {
  color: var(--tertiary-hover);
}

.toggle-password-mask {
    background-color: transparent
}
