.avatar-choice:nth-child(2),
.d-modal.create-account .user-fields {
    display: none  
}   

.password-reset .col-form, 
.invites-show .col-form {
  padding: 0.5em 2em 2em;
  max-width: 100%;
  text-align: center;
}

#simple-container {
    margin: 0 auto 20px
}
