.archetype-private_message {
  .topic-body .cooked {
    border: 1px solid var(--primary-low-mid);
    border-radius: 0 5px 5px 5px
  }  
  .topic-map .participants .user {
    background: var(--primary-100);
    border-radius: 0;
  }
}    

.small-action .topic-avatar, 
.small-action .small-action-desc,
.topic-status-info, 
.topic-timer-info {
  border-top: 1px solid var(--primary-low-mid);
}

.related-messages-wrapper {
  background-color: var(--tertiary-or-white);
  padding: 0 30px;
  margin-bottom: 30px;
  .topic-list tbody tr:nth-child(2n+1) {
      background-color: var(--primary-low);
    }
}
