.archetype-private_message {
  .topic-body .cooked {
    border: 1px solid var(--primary-low-mid);
    border-radius: 0 5px 5px 5px
  }  
  .topic-map .participants .user {
    background: var(--primary-100);
    border-radius: 0;
  }
}    

.small-action .topic-avatar, 
.small-action .small-action-desc {
  border-top: 1px solid var(--primary-low-mid);
}
