body.search-page {
  .search-container {
    .search-filters {
        background: var(--tertiary-or-white);
        .search-advanced-filters {
            background: var(--tertiary-or-white)
         }  
     }      
    .search-advanced {
      .search-header {
         background-color: var(--tertiary-or-white);
         padding: 0 10%;
      } 
      .search-info,
        .select-kit .select-kit-body {
            background-color: var(--tertiary-or-white);
        }
      .search-results {
          background-color: var(--tertiary-or-white);
          margin-top: 30px;
        } 
      } 
  }  
 

  .fps-result {
    padding: 0 0.5em 1.5em 0;
    border-bottom: 1px var(--primary-medium) solid;
  }
}

