body.search-page {
  .search-container {
      .search-header {
         background-color: var(--tertiary-or-white)!important;
         padding: 2em 10%!important;
      } 
    .search-filters {
        background: var(--tertiary-or-white);
        .search-advanced-filters {
            background: var(--tertiary-or-white)
         } 
     }      
    .search-advanced {
      .search-info,
      .select-kit .select-kit-body {
          background-color: var(--tertiary-or-white);
          padding-bottom: 2em;
        .btn {
          background-color: var(--primary-low-mid);
          &:hover {
            background-color: var(--primary-medium);
            color: var(--primary-low);
            svg {
              color: var(--primary-low);
            }
          }  
        }
      }
    .search-results {
        background-color: var(--tertiary-or-white);
        margin-top: 30px;
        padding-top: 0;
        padding-bottom: 0
      } 
    } 
  }  

  .fps-result {
    padding: 0 0.5em 1.5em 0;
    border-bottom: 1px var(--primary-medium) solid;
    .topic .bulk-select {
      left: 4px;
      top: 3.5em;
    }
    &:first-child {
      padding-top: 2rem;
    }
  }
  .search-footer {
    padding-bottom: 2rem
  }  
}

