body.category:not(.categories-list),
body[class*="body-"]:not(.category) {
  .list-container {
    padding-top: 0;
    margin-top: 0;
  } 
  #list-area {
    margin-top: 0;
    padding-top: 50px;
  }
  .topic-list tbody tr:nth-child(2n+1) {
      background-color: var(--primary-low);
    }
}

body[class*="body-"]:not(.category) {
  #create-topic {
      display: none
  }   
}  

body.category:not(.categories-list) {
   #create-topic {
      background-color: $base;
      color: $black; 
     .d-icon {
      color: $black;
     }  
     &:hover {
        color: var(--primary);
        background-color: var(--highlight-medium);
       .d-icon {
        color: $white;
       } 
     } 
   } 
 }  

.topic-list-item.visited .topic-list-data a.title:not(.badge-notification), 
.latest-topic-list-item.visited a.title:not(.badge-notification), 
.category-topic-link.visited a.title:not(.badge-notification) {
  color: var(--primary);
}

.select-kit .select-kit-collection:hover .select-kit-row.is-highlighted:hover .top-date-string,
.select-kit .select-kit-collection .select-kit-row.is-selected .top-date-string {
    color: var(--primary-very-high)
 }

.badge-card {
  background-color: var(--tertiary-or-white)
}
