body.category:not(.categories-list),
body[class*="body-"]:not(.category) {
  .list-container {
    padding-top: 0;
    margin-top: 0;
  } 
  #list-area {
    margin-top: 0;
    padding-top: 50px;
  }
  .topic-list tbody tr:nth-child(2n+1) {
      background-color: var(--primary-low);
    }
  
}

body[class*="body-"]:not(.category) {
  #create-topic {
      display: none
  }   
}  

body.category:not(.categories-list) {
   #create-topic {
      background-color: $base;
      color: $base 
   }  
 }  

.topic-list-item.visited .topic-list-data a.title:not(.badge-notification), 
.latest-topic-list-item.visited a.title:not(.badge-notification), 
.category-topic-link.visited a.title:not(.badge-notification) {
  color: var(--primary);
}

