body.category:not(.categories-list) {
  .list-container, 
  #list-area {
    margin-top: 0;
  }
  #list-area {
    padding-top: 40px;
  }
  .topic-list tbody tr:nth-child(2n+1) {
      background-color: var(--secondary);
    }
  #create-topic {
    background-color: $base
 }   
}
