.tags-page:not(.body-group) #main-outlet {
     background-color: var(--tertiary-or-white);
     padding: 25px 50px;
     margin-top: 30px;
     margin-bottom: 30px;
}

.tags-list {
  border-bottom: 1px solid var(--primary-low-mid);
}

.tag-groups-container {
     background-color: var(--tertiary-or-white);
     h2 {
          background-color: var(--tertiary-or-white);
    }      
}
