.tags-page:not(.body-group) #main-outlet {
     background-color: var(--tertiary-or-white);
     padding: 25px 50px;
     margin-top: 30px;
     margin-bottom: 30px;
}

.tags-list {
  border-bottom: 1px solid var(--primary-low-mid);
}

.tag-groups-container {
     background-color: var(--tertiary-or-white);
     margin-top: 25px;
     h2 {
          background-color: var(--tertiary-or-white);
    }      
}

.tag-groups-sidebar {
     padding-left: 10px
}

a.discourse-tag.simple {
     color: var(--primary-medium);
     transition: all 0.15s;   
     &:visited {
       color: var(--primary-medium);
     }
     &:hover {
       color: var(--primary-high);
     }
}

section.tag-info {
     background-color: var(--tertiary-or-white)
}
