#reply-control {
  .reply-area  {
      background: var(--tertiary-or-white);
  }

  input[type="text"],
  .d-editor-button-bar,
  .d-editor-textarea-wrapper textarea,
  .category-input .category-chooser .select-kit-header {
      background: var(--primary-very-low)!important;
  }
}

.emoji-picker img.emoji {
  width: 30px !important;
  height: 30px !important;
}

.emoji-picker .emoji-picker-category-buttons {
  width: 75px;
}
