[class*="archetype-"]  {
     .topic-body,
     .topic-avatar {
       border-top: 1px solid var(--primary-low-mid);
     } 
     aside.onebox {
       background: var(--primary-200);
     }
     nav.post-controls .actions button .d-icon {
          opacity: 0.7;
          color: var(--primary-high-or-secondary-low)
     }
     .search-banner::after {
          background-color: transparent!important;
     }    
     #topic-title {
          padding: 50px 30px 20px;
          margin-bottom: 0;
          background-color: var(--tertiary-or-white);
      }    
     .posts:not(.posts-map),
     .topic-above-footer-buttons-outlet {
          padding: 0 30px;
          margin-bottom: 0;
          margin-top: 0;
          background-color: var(--tertiary-or-white);
      }   
     #topic-footer-buttons {
          max-width: 100%;
          padding: 30px 30px 50px;
          margin-top: 0;
          background-color: var(--tertiary-or-white);
      }
      .suggested-topics-wrapper {
          padding: 0 30px 50px; 
          background-color: var(--tertiary-or-white);
          margin-bottom: 50px
      }   
     .suggested-topics-title {
          padding-top: 30px
     } 
     .topic-map {
          background-color: var(--tertiary-or-white);
          border: none;
          .buttons .btn  { 
               background-color: var(--tertiary-or-white);
               border-left: 0;
          }  
          section {
               border: none;
          }  
          .map,
          .topic-map-expanded {
               border-top: 1px solid var(--primary-low-mid)
          }          
     } 
     
     .topic-avatar {
          padding-top: 30px;
     }   
     
     .topic-body {
          padding: 30px 0 20px 0;
          width: 90%;
      }  
     
     .topic-category {
          margin-top: 5px;      
     }    
     
     .container.posts .topic-navigation {
          margin-left: 0;
     }
     
     .discourse-tag.bullet {
          align-items: first baseline;
     }

     .names span {
          overflow: initial;
          a {
               font-family: supply-regular;
          }
     }    
     
     .topic-meta-data {
          align-items: start;
          .user-title {
               font-family: supply-light;
               font-size: 0.9em;
          }      
          .names {
               display: block;
          }     
     }  
     .topic-timer-info {
            width: 95%;
          }
 }

.post-stream .cooked a {
     color: $blue;
}     

.post-notice.new-user {
     background: var(--highlight-medium);
     width: 85%;
     max-width: 100%
}     
.popup-menu .btn:focus .d-icon, .popup-menu .btn:hover .d-icon {
     color: var(--header_background)
 }     

.topic-post.voting-post button {
  &.like-count,
  &.toggle-like {
    display: block;
  }
}

.timeline-container.timeline-fullscreen {
     .topic-timeline .post-excerpt {
          padding-top: 20px
     }  
     @media (min-width:798px) {
          &.show {
            padding-left: 40px;
            padding-right: 40px;
          }
    }      
}      


.topic-list-main-link a.title, 
.topic-list .main-link a.title, 
.latest-topic-list-item .main-link a.title {
     transition: all 0.15s;
     &:hover {
          color: var(--primary-medium)
     }          
}     

.topic-list .topic-list-data.bulk-select {
     text-align: center
}   

.small-action button {
     .d-icon {
       color: var(--primary-500);
     }
     .d-icon-trash-alt {
          color: var(--primary-100);
     }
}

