@import "pages/home-categories-page";
@import "pages/category-page";
@import "pages/category-header-widget";
@import "pages/subcategory-page";
@import "pages/users-page";
@import "pages/admin-page";
@import "pages/topic-page";
@import "pages/login-page";
@import "pages/review-page";
@import "pages/results-page";
@import "pages/topic-modal";
@import "header/header-menu";
@import "header/navigation-menu";
@import "footer/footer-sus-sections";
@import "footer/footer-arturia";


.list-container {
  background-color: var(--tertiary-or-white);
  margin: 30px 0;
  padding: 0 10px;
}

.badge-wrapper.bullet .badge-category-parent-bg, 
.badge-wrapper.bullet .badge-category-bg {
  width: 5px
}  

img.avatar {
  border-radius: 10%;
}

.badge-category-parent-bg {
  display: none!important;
}

@media (min-width: 1180px) {
  .list-container {
    padding: 0 30px;   
   }
}  

#main-outlet-wrapper{
  max-width: 1440px;
  padding-left: 25px;
  padding-right: 25px;
   #main-outlet {
     z-index: 1;
     } 
} 

body {
  background-color: var(--secondary-or-primary);
}

h1 {
  padding-right: 20px;
} 

.topic-list-item, 
tr {
  border-bottom: 1px solid var(--primary-200);
}

.list-cell, .table-heading, 
.category-list td, 
.category-list th {
  color: var(--primary-500);
}
  
.badge-notification.unread-posts {
  background-color: $base;
  color: $black 
} 



