@import "pages/home-categories-page";
@import "pages/category-page";
@import "header/header-menu";
@import "footer/footer-sus-sections";
@import "footer/footer-arturia";

.list-container {
  background-color: var(--header_background);
  margin: 42px 0;
  padding: 0 10px;
}

.badge-wrapper.bullet .badge-category-parent-bg, 
.badge-wrapper.bullet .badge-category-bg {
  width: 5px
}  

img.avatar {
  border-radius: 10%;
}

.badge-category-parent-bg {
  display: none!important;
}

@media (min-width: 1180px) {
  .list-container {
    padding: 0 30px;   
   }
}  

#main-outlet-wrapper{
  max-width: 1440px;
  padding-left: 25px;
  padding-right: 25px;
   #main-outlet {
     z-index: 1;
     } 
} 

h1 {
  padding-right: 20px;
}  

@media (prefers-color-scheme: dark) {
      body {
        background-color: #000000!important;
      }
 } 

  



